<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Required to use Virtualization.framework APIs -->
    <key>com.apple.security.virtualization</key>
    <true/>
    <!-- Required for ASAuthorization (passkeys + passwords) -->
    <key>com.apple.application-identifier</key>
    <string>W3RD8G85BC.io.bromure.app</string>
    <key>keychain-access-groups</key>
    <array>
        <string>W3RD8G85BC.io.bromure.app</string>
    </array>
</dict>
</plist>
